$color-primary: #926efa;
$color-primary-light: #ad92fd;
$color-primary-dark: #6e41f7;

$color-white: #fff;
$color-black: #000;

$color-grey-dark: #424242;
$color-grey-light: #bfbfbf;

$logo-size: 3rem;

$scroll-bar-shadow-white: rgba(255, 255, 255, 0.4);
$scroll-bar-shadow-black: rgba(0,0,0,.4);