.footer {
    background-color: $color-primary;
    // height: 20vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: $color-white;
    position: relative;

    &__box {
        margin-bottom: 0;
    }

    &__logo-box {
        font-family: 'Sacramento', cursive;
        font-size: $logo-size;
        color:$color-white;
    }

    &__note {
        &:last-child {
            margin-bottom: 1rem;
        }
    }
}