.header {
    height: 100vh;
    background-image: linear-gradient(
        rgba($color-primary-light, 0.7), 
        rgba($color-primary-dark, 0.7)), 
    url(../img/header-photo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    // color: $color-white;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;

    @include respond(tab-port) {
        height: 90vh;
    }

    &__logo-box {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__logo {
        font-family: 'Sacramento', cursive;
        font-size: $logo-size;
        color:$color-white;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 70%;
        height: 50%;
        font-family: 'Eurostile';
        background-color: $color-white;
        color: $color-primary;
        opacity: .8 !important;
        border-radius: 2rem;

        @include respond(tab-port) {
            height: 30%;
            width: 90%;
            top: 55%;
            transform: translate(-50%, -75%);
        }

        @include respond(phone) {
            height: 50%;
            width: 90%;
            top: 65%;
            transform: translate(-50%, -75%);
        }
    }

    &__arrow-wrapper {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        animation-name: moveInTop;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;

        @include respond(phone) {
            top: 90%;
        }
    }

    &__arrow {
        color: $color-white;       
        transform: scale(2);
    }
}