.gradient-box {
    height: 80vh;
    background-color: $color-primary;
    border-radius: 2rem;
    background-image: linear-gradient(
        180deg,
        $color-primary 0%,
        $color-white 100%, 
        
    ); 

    &__solid {
        background-color: $color-white;
        // height: 80vh;
        border-radius: 2rem;

        & p {
            height: 15rem;

            @include respond(tab-port) {
                height: 25rem;
            }

            @include respond(phone) {
                height: 15rem;
            }
        }

        & > *:not(:last-child) {
            border-right: 2px solid $color-primary-light;

            @include respond(phone) {
                border-right: 0;
                border-bottom: 2px solid $color-primary-light;
            }
        }
    }

    &-icons {
        display: block;
        margin: 0 auto;
        padding: 3rem 0 2.5rem 0;
    }
}