*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 85%;
    }

    @include respond(tab-port) {
        font-size: 70%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    } 

    &::-webkit-scrollbar {
        width: 20px;
        height: 30px;

        &-thumb {
            background-color: $color-primary;
            border-radius: 30px;
            -webkit-box-shadow: inset 2px 2px 2px $scroll-bar-shadow-white, inset -2px -2px 2px $scroll-bar-shadow-black;
            box-shadow: inset 2px 2px 2px $scroll-bar-shadow-white, inset -2px -2px 2px $scroll-bar-shadow-black;
        }

        &-track {
            background: $color-white;
        }
    }
}

body {
    box-sizing: border-box;
}